import(stringr, XML, kernlab, e1071)

importFrom(sva, sva, f.pvalue, num.sv, ComBat)
importFrom(jsonlite, fromJSON)
importFrom(R.utils, mkdirs, gunzip)
importFrom(randomForest, randomForest)
importFrom(ggplot2, ggplot, ggsave, geom_boxplot, geom_tile, facet_wrap, 
           aes, theme_minimal, theme_classic, theme, scale_fill_manual, 
           ggtitle, ylab, xlab, labs, coord_flip, element_text, geom_point, 
           geom_segment, scale_y_discrete, scale_x_discrete, geom_vline, 
           xlim, ylim, annotate, margin, element_blank, scale_fill_gradientn,
           scale_fill_gradient, unit)
importFrom(grDevices, colors, colorRampPalette, dev.off, hsv, pdf, png)
importFrom(graphics, abline, axis, box, boxplot, image, layout, lines, par, text, title, grid, smoothScatter)
importFrom(stats, model.matrix, p.adjust, setNames, complete.cases, ecdf,dist, ks.test, quantile, IQR, sd)
importFrom(utils, read.csv, untar, write.csv, write.table, download.file, capture.output, tail, read.table, URLencode)
importFrom(cqn, cqn)
importFrom(edgeR, readDGE, cpm)
importFrom(reshape2, melt)
importFrom(praznik, MRMR)
importFrom(caret, trainControl, train, knn3, confusionMatrix, predict.train, extractPrediction)
importFrom(limma, eBayes, topTable, lmFit, makeContrasts, contrasts.fit, decideTests)
importFrom(httr, GET, content, POST, write_disk, http_error)
importFrom(rlist,list.map)
importFrom(rmarkdown, render)
importFrom(Hmisc,hoeffd)
importFrom(gridExtra, grid.arrange)

export(batchEffectRemoval, calculateGeneExpressionValues, countsToMatrix, dataPlot, DEGsToDiseases,
              downloadPublicSeries, featureSelection, fileMove, gdcClientDownload, geneOntologyEnrichment, getGenesAnnotation,
              hisatAlignment, knn_trn, knn_test, DEGsExtraction, plotConfMatrix, RNAseqQA, rawAlignment, rf_trn, rf_test
              , sraToFastq, svm_trn, svm_test, DEGsEvidences, knowseqReport, DEGsToPathways)
