import(stringr,sva, RCurl, XML, jsonlite, tximportData, rhdf5, multtest, kernlab)

importFrom(randomForest, randomForest)
importFrom(quantreg, rq)
importFrom(mclust, Mclust)
importFrom(R.utils, mkdirs, gunzip)
importFrom(gplots, heatmap.2, redgreen)
importFrom(ggplot2, ggplot, ggsave, geom_boxplot, facet_wrap, aes, theme_minimal,scale_fill_manual,ggtitle, ylab, xlab, labs, geom_tile, theme, element_text, geom_point, geom_segment, scale_y_discrete, theme_classic)
importFrom(grDevices, colorRampPalette, dev.off, hsv, pdf, png)
importFrom(graphics, abline, axis, box, boxplot, image, layout, lines, par, text, title, grid, smoothScatter)
importFrom(stats, model.matrix, p.adjust, setNames, complete.cases, ecdf,dist, ks.test)
importFrom(utils, read.csv, untar, write.csv, write.table, download.file, capture.output, tail, read.table, URLencode)
importFrom(cqn, cqn)
importFrom(Biobase, ExpressionSet)
importFrom(edgeR, readDGE, cpm)
importFrom(reshape2, melt)
importFrom(praznik, MRMR)
importFrom(tximport, tximport)
importFrom(caret, trainControl, train, knn3, confusionMatrix)
importFrom(class, knn)
importFrom(limma, eBayes, topTable, lmFit, makeContrasts, contrasts.fit, decideTests)
importFrom(e1071, svm)
importFrom(pathview, pathview)
importFrom(httr, GET, content, POST)
importFrom(rlist,list.map)
importFrom(rmarkdown, render)
importFrom(Hmisc,hoeffd)
importFrom(gridExtra,grid.arrange)

export(batchEffectRemoval, calculateGeneExpressionValues, countsToMatrix, dataPlot, DEGsPathwayVisualization, DEGsToDiseases,
              downloadPublicSeries, featureSelection, fileMove, gdcClientDownload, geneOntologyEnrichment, getGenesAnnotation,
              hisatAlignment, kallistoAlignment, knn_CV, knn_test, DEGsExtraction, plotConfMatrix, RNAseqQA, rawAlignment, rf_CV, rf_test
              , salmonAlignment, sraToFastq, svm_CV, svm_test, DEGsEvidences, knowseqReport)

